body {
      margin: 0;
      background: #111;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

#display { 
    width: 640px;
    height: 480px;
    max-width: 100%;
}

#game {
    width: 100%;
    height: 100%; 
}